body {
  font-family: Arial;
  direction: rtl;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.checkout-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: green;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.qty {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.qty button {
  width: 30px;
  height: 30px;
  border: none;
  background: #0088cc;
  color: white;
  font-size: 18px;
  border-radius: 50%;
}
